@font-face {
  font-family: 'Apfel';
  src: local('Apfel'),
    url('../public/fonts/ApfelGrotezk-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Messapia';
  src: local('Messapia'),
    url('../public/fonts/Messapia-Bold.woff') format('woff');
}
